In [8]:
#11.1
from zoo import hours
hours()

Open 9-5 daily

'Open 9-5 daily'

In [9]:
#11.2
from zoo import hours as menagerine
menagerine()

Open 9-5 daily

'Open 9-5 daily'

In [10]:
#16.8
# CANT DO IT UNTIL I FINISH 16.1 - 16.8

#16.1
# the csv file

#16.2
the_csv_file = 'books.csv'
books = []
import csv
with open(the_csv_file) as csv_file:
    reader = csv.DictReader(csv_file)
    for row in reader:
        print(row)
        books.append(row)

{'author': 'J R R Tolkien', 'book': 'The Hobbit'}
{'author': 'Lynne Truss', 'book': 'Eats, Shoots & Leaves'}

In [11]:
#16.3
#new csv 2 file

#16.4
# use sqlite3 to create a database
import sqlite3
conn = sqlite3.connect('books.db')
c = conn.cursor()
c.execute('''CREATE TABLE books
             (title,author,year)''')
conn.commit()
conn.close()

In [12]:
#16.5 insert data into the books.db
the_csv_file_2 = 'books2.csv'
books_2 = []
import csv
with open(the_csv_file_2) as csv_file:
    reader = csv.DictReader(csv_file)
    for row in reader:
        print(row)
        books_2.append(row)

{'title': 'The Weirdstone of Brisingamen', 'author': 'Alan Garner', 'year': '1960'}
{'title': 'Perdido Street Station', 'author': 'China MiÃ©ville', 'year': '2000'}
{'title': 'Thud!', 'author': 'Terry Pratchett', 'year': '2005'}
{'title': 'The Spellman Files', 'author': 'Lisa Lutz', 'year': '2007'}
{'title': 'Small Gods', 'author': 'Terry Pratchett', 'year': '1992'}

In [13]:
import sqlite3
conn = sqlite3.connect('books.db')
c = conn.cursor()

for book in books_2:
    c.execute("INSERT INTO books VALUES (?,?,?)",(book['title'],book['author'],int(book['year'])))
conn.commit()
conn.close()

In [14]:
# 16.8 BACK AT THIS AGAIN
# use sqlalchemy to select and print the title column from the book table in alphabetical order.
import sqlalchemy
from sqlalchemy import text

engine = sqlalchemy.create_engine('sqlite:///books.db')
connection = engine.connect()
result = text("SELECT title FROM books ORDER BY title ASC")
result = connection.execute(result)
for row in result:
    print(row)
connection.close()

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)